
.ProjectBtn{
    border-radius: 8px;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
    padding: 5px;
    margin:10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.4s ease, border-color 0.4s ease;
}

.ProjectBtn:hover{
    border-color: rgb(19, 197, 197);
    border-width: 2px;
    transform: scale(1.2);
    box-shadow: 0 0 6px rgba(43, 189, 215, 0.6);;
}


.ProjectBtnImg{
    display: block;
    width:80%;
    height:80%;
    align-self: center;
}

.ProjectBtnText{
    font-size: 14px;
    color: antiquewhite;
    display: block;
    align-self: center;
    margin: 5px;
}