
.ProjectBtn{
    border-radius: 8px;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
    padding: 5px;
    margin:10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.ProjectBtnImg{
    display: block;
    width:80%;
    height:80%;
    align-self: center;
}

.ProjectBtnText{
    font-size: 14px;
    color: antiquewhite;
    display: block;
    align-self: center;
    margin: 5px;
}