.NavContainer{
    justify-items: right;
    display: block;
    position: absolute;       
    top: 20px;                
    right: 20px;             
}

.NavList{
    list-style-type: none;
    display: flex;
    gap: 1rem; 
}

.NavItem{
    display: inline;
}

.NavBtn{
    border-radius: 8px;
    background-color: rgb(52, 52, 53);
    transition: background-color 0.4s ease;
    outline: none;
    border-width: 0px;
}

.NavBtn:hover{
    background-color: rgb(14, 225, 225);
    outline-color: rgb(14, 225, 225);
    border-width: 0px;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.6);;
}


