
.AboutContainer{
    display: flex;          
    justify-content: center; 
    align-items: center;
    padding:10px;
    width: 100vw;
}

.ProfilePhoto{
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    justify-self: center;
    border-width: 2px;
    border-style: solid;
    margin-right: 5px;
}

.aboutText{
    padding: 5px;
    margin-left: 5px;
    margin-top: 0px;
    display: inline-block;
    justify-self: center;
    font-size: 1.1rem; 
    line-height: 1.6;
}

.nameHeader{
    justify-self: left;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}